@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
.imgSpon {
  width: 92.49px;
  height: 31.58px;
}
.textTime {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75px;
  color: #4e4b66;
  margin-bottom: 12px;
}
.colRight {
  float: right;
}
.img1 {
  width: 177px;
  height: 272px;
}
.main {
  background-color: #f5f6f8;
  padding: 5px;
}
.sbmt {
  background: #5f2eea;
  box-shadow: 0px 8px 24px rgba(95, 46, 234, 0.24);
  border-radius: 4px;
  border: #5f2eea;
  width: 181px;
  height: 53.73px;
  font-family: " Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75px;
  color: #f7f7fc;
}
.reset {
  background: #ffffff;
  box-shadow: 0px 8px 24px rgba(95, 46, 234, 0.24);
  border-radius: 4px;
  border: #5f2eea 3px solid;
  width: 181px;
  height: 53.73px;
  font-family: " Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75px;
  color: #5f2eea;
  margin-right: 23px;
}
.title {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.25px;
  color: #000000;
  margin-bottom: 33px;
  margin-top: 56px;
}
.cardImg {
  background: #ffffff;
  border: 0.5px solid #dedede;
  box-sizing: border-box;
  border-radius: 16px;
  width: 249px;
  height: 344px;
  padding: 30px;
}
.label {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #4e4b66;
}
.control {
  height: 64px;
  background: #fcfdfe;
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 16px;
}
.control1 {
  height: 64px;
  width: 170px;
  background: #fcfdfe;
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 16px;
}
.cardUp {
  padding: 49px 40px;
  background: #ffffff;
  border-radius: 24px;
}
.cardBottom {
  background: #ffffff;
  border-radius: 6px;
  margin-bottom: 116px;
}
.loc {
  height: 64px;
  background: #fcfdfe !important;
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 16px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.75px;
  color: #4e4b66 !important;
}
.loc:hover {
  background: #fcfdfe !important;
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 16px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.75px;
  color: #4e4b66;
}
