@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.cardBottom {
  background: #ffffff;
  border: 0.5px solid #dedede;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 32px;
  margin-bottom: 10px;
}
.imgCard {
  /* width: 159px;
  height: 244px; */
  text-align: center;
  margin: 0 auto;
}
.mvTitles {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #14142b;
}
.mvCategory {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #a0a3bd;
}
.btnUpdt {
  border: 1px solid #5f2eea;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #5f2eea;
}
.btnDlt {
  border: 1px solid #ed2e7e;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ed2e7e;
}
