@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
@media (max-width: 512px) {
  .name {
    font-size: 10px !important;
    text-align: center;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
  }
  .bottom {
    font-size: 7px !important ;
    text-align: center;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
  }
  .title {
    font-size: 16px !important;
    text-align: center;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
  }
}
.pagination {
  margin: 40px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: white !important;
  border-color: #dedede;
  color: #5f2eea;
}
.pagination > li > a {
  border: 1px solid #dedede !important;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  margin: 12px;
  border-radius: 20%;
  background-color: white !important;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #5f2eea !important;
  border-color: #47ccde;
  outline: none;
  color: white !important;
}
.pagination > li > a,
.pagination > li > span {
  color: #5f2eea !important;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
.movieCard {
  height: 100%;
  border-radius: 14px;
}
.imgMovie {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
}
.name {
  font-size: 18px;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
}
.bottom {
  font-size: 14px;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}
.title {
  font-size: 20px;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
}
