@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");
.mainLogo {
  font-family: "Francois One", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #5f2eea;
  margin-bottom: 0px;
  cursor: pointer;
}
.link1,
.link2,
.link3 {
  color: black;
  margin: 20px;
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  color: #414141;
  text-decoration: none !important;
}
.location a {
  font-family: "Mulish", sans-serif;
  color: #414141 !important;
  text-decoration: none;
  font-weight: 600 !important;
  font-size: 16px;
}
.pp,
.search {
  margin: 20px;
  cursor: pointer;
}
.btn {
  background-color: #5f2eea !important;
  border: #5f2eea;
  width: 120px;
  height: 40px;
  border-radius: 4px;
  font-family: "Mulish", sans-serif;
  font-weight: 600 !important;
  font-size: 16px;
  margin-right: 10px;
}
.btn:hover {
  background-color: #4f4eea !important;
}
.btn a {
  text-decoration: none;
  color: white;
  margin-left: 12px;
  margin-right: 12px;
  font-weight: bold;
  font-size: 14px;
}
.btn a:hover {
  color: black;
}
.control {
  width: 100%;
}
.btnSearch {
  float: right;
  margin-top: 10px;
  background-color: #5f2eea !important;
  border: #5f2eea;
  width: 120px;
  height: 40px;
  border-radius: 4px;
  font-family: "Mulish", sans-serif;
  font-weight: 600 !important;
  font-size: 16px;
}
.cardMovie {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 14px;
  font-family: "Mulish", sans-serif;
  font-weight: 600 !important;
  font-size: 12px;
  padding-bottom: 12px;
}
.imgCard {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.rowCard {
  padding: 20px;
}
.pagination {
  margin: 40px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: white !important;
  border-color: #dedede;
  color: #5f2eea;
}
.pagination > li > a {
  border: 1px solid #dedede !important;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  margin: 12px;
  border-radius: 20%;
  background-color: white !important;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #5f2eea !important;
  border-color: #47ccde;
  outline: none;
  color: white !important;
}
.pagination > li > a,
.pagination > li > span {
  color: #5f2eea !important;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
.imagePP {
  border-radius: 100%;
  width: 57px;
  height: 57px;
}
