@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap");
.card1 {
  background: #ffffff;
  border-radius: 16px;
  /* width: 866px; */
  /* height: 84px; */
  padding: 25px;
  margin-bottom: 48px;
}
.ticket {
  background: #ffffff;
  border-radius: 24px;
  padding: 40px;
}
.textLocal {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: 0.75px;

  color: #aaaaaa;
}
.textLocal1 {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  /* identical to box height, or 158% */

  letter-spacing: 0.75px;

  color: #000000;
}
.text1 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.75px;
  margin-right: 56px;
  color: #5f2eea;
  cursor: pointer;
}
.text1:hover {
  text-decoration: none;
}
.text2:hover {
  text-decoration: none;
}
.text2 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.75px;
  margin-right: 56px;
  color: #14142b;
  cursor: pointer;
}
.card2 {
  background: #ffffff;
  border-radius: 24px;
  /* width: 866px; */
  /* height: 418px; */
  padding: 32px;
}
.card3 {
  background: #ffffff;
  border-radius: 24px;
  /* width: 866px; */
  /* height: 297px; */
  padding: 32px;
}
.mainText1 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.75px;
  color: #14142b;
}
.label {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #4e4b66;
  margin-top: 25px;
}
.rowMain {
  margin-top: 13px;
}
.control {
  background: #fcfdfe;
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 16px;
  height: 64px;
}
.control1 {
  background: #fcfdfe;
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 16px;
  height: 64px;
}
.btn {
  margin-top: 48px;
  margin-bottom: 36px;
  background: #5f2eea;
  border: #5f2eea;
  border-radius: 16px;
  width: 360px;
  height: 56px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75px;
  color: #f7f7fc;
}
.btn1 {
  margin-top: 48px;
  margin-bottom: 22px;
  background: #5f2eea;
  border: #5f2eea;
  border-radius: 16px;
  width: 360px;
  height: 56px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75px;
  color: #f7f7fc;
}
.backRow {
  background-color: #f5f6f8;
  padding-top: 56px;
  padding-bottom: 56px;
}
.mainCard {
  background: #ffffff;
  box-shadow: 0px 8px 32px rgba(186, 186, 186, 0.08);
  border-radius: 24px;
  padding: 40px;
}
.userName {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.75px;
  color: #14142b;
  margin-top: 30px;
}
.mov {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.75px;
  color: #4e4b66;
}
.userImg {
  filter: drop-shadow(0px 8px 16px rgba(73, 83, 99, 0.24));
  border-radius: 50%;
  width: 136px;
  height: 136px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.info {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.75px;
  color: #4e4b66;
  text-align: left;
}
